* {
  box-sizing: border-box;
}

body {
  background-color: lemonchiffon;
}

header {
  background-color: lightsteelblue;
  border: 2px solid rgb(136, 134, 134);
  text-align: center;
  width: 100%;
}
.photo_space{
  width: 100%;
  column-count: 2;
  column-gap: 20px;
}

.pic{
  display: inline-block;
  width: 100%;
  margin: 0 0 15px;
  
}

img{
  border-radius: 10%;
  border: 2px solid lightgray;
  width: 100%;
}


@media screen and (min-width: 500px){

body{
  display: flex;
  padding: 20px;
}

header{
  height: 400px;
  width: 236px;
  padding: 20px;
}

.pic{  
  max-width: 236px;
}

.photo_space{
  column-count: 3; 
}
}
@media screen and (min-width: 1200px){
  .photo_space{
    column-count: 4;
    max-width: 1000px;
  }
}